@import 'globals';

.app {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  background-color: $very-dark-blue;
  color: $white;
}

.app.light {
  background-color: $very-light-gray;
  color: $light-theme-text;
}

.header-container {
  box-shadow: $box-shadow;
  background-color: $dark-blue;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    padding: 2rem 1rem;
    font-size: 0.875rem;
    font-weight: 800;
    margin-inline: auto;
  }
}

.header-container.light {
  background-color: $white;
}

.ThemeSwitcher_button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: calc(16.37 / 12);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  max-width: 90rem;
  padding-inline: 1rem;
}

article {
  box-shadow: $box-shadow;
  background-color: $dark-blue;
  min-height: 21rem;
  border-radius: 0.3125rem;
  width: 16.5rem;

  .flagImg {
    width: 16.5rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: $box-shadow-flag;
    background-color: hsl(0, 0%, 50%);
    border-radius: 0.3125rem 0.3125rem 0 0;
  }

  .info {
    padding: 1.5rem 1.5rem 2.875rem;
  }

  h2 {
    font-size: 18px;
    font-weight: 800;
    line-height: calc(26 / 18);
    padding-block: 0 0.75rem;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
  }

  li {
    padding-block: 0.25rem 0;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: calc(16 / 14);
  }

  .info-item {
    font-weight: 600;
  }
}

article.light {
  background-color: $white;
}

.dropdown {
  $height: 3rem;
  position: relative;
  width: 12.5rem;
  font-size: 0.75rem;
  font-weight: 400;

  .click-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $dark-blue;
    height: $height;
    width: inherit;
    cursor: pointer;
    border-radius: 0.3125rem;
    padding: 0 1.5rem;
    box-shadow: 0 0.125rem 0.5625rem hsla(0, 0%, 0%, 0.053);
  }

  ul {
    position: absolute;
    top: calc(#{$height} + 0.25rem);
    background: $dark-blue;
    width: inherit;
    border-radius: 0.3125rem;
    display: none;
    box-shadow: 0 0.125rem 0.5625rem hsla(0, 0%, 0%, 0.053);
    padding-block: 0.75rem;

    &.open {
      display: flex;
      flex-direction: column;
    }

    li {
      padding: 0.25rem 1.5rem;
      cursor: pointer;
      list-style: none;

      &:hover,
      &.selected {
        background: $very-dark-blue;
        transition: background 300ms;
      }
    }
  }
}

.dropdown.light {
  .click-area {
    background: $white;
  }

  ul {
    background: $white;
  }

  li {
    &:hover,
    &.selected {
      background: hsla(0, 0%, 0%, 0.35);
    }
  }
}

.close {
  transform: rotate(180deg);
}
