@charset 'utf-8';
@import '@fontsource/nunito-sans/300.css';
@import '@fontsource/nunito-sans/600.css';
@import '@fontsource/nunito-sans/800.css';
@import 'the-new-css-reset';

$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);

$light-theme-text: hsl(200, 15%, 8%);

$dark-gray: hsl(0, 0%, 52%);
$very-light-gray: hsl(0, 0%, 98%);

$white: hsl(0, 0%, 100%);

$box-shadow: 0 0.125rem 0.25rem hsla(0, 0%, 0%, 0.056);
$box-shadow-flag: 0 0 0.4375rem 0.125rem hsla(0, 0%, 0%, 0.029);
