@import 'globals';

.container {
  box-shadow: $box-shadow;
  background-color: $white;
}

.container.dark {
  background-color: $dark-blue;
}

.container.light {
  background-color: $white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  padding: 2rem 1rem;
  font-size: 0.875rem;
  font-weight: 800;
  margin-inline: auto;
}
